@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');
:root {
      --chat-background: #0a0e0ef2;
      --msger-bg: #fff;
      --border: 2px solid #ddd;
      --left-msg-bg: #ececec;
      --right-msg-bg: #053b86;
      --dark-color: #343030;
      --chat-text-color: #faf5f5;
}

html {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Sono', sans-serif;
}

ul {
      list-style: none;
      margin: 10px;
}

body {
      background: url(https://images.unsplash.com/photo-1495808985667-ba4ce2ef31b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
      background-size: cover;
}

.Main-container {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      max-width: 600px;
      margin: 25px auto;
      margin: 25px 10px;
      height: calc(100% - 50px);
      border-radius: 12px;
      background: var(--msger-bg);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.chat-container {
      max-height: 600px;
      padding-top: 2rem;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.msger-inputarea {
      display: flex;
      padding: 1rem;
      width: 100%;
      gap: 15px;
      position: relative;
}
.msger-input {
      width: 100%;
      padding: 1.5rem 1rem;
      border: 1px solid var(--dark-color);
      border-radius: 6px;
      background-color: var(--chat-background);
      color: var(--chat-text-color);
      outline: none;
}
.msger-send-btn {
      cursor: pointer;
      padding: 0.3rem 2rem;
      color: var(--dark-color);
      border: 0;
      background: #0095ff;
      font-size: 20px;
      position: absolute;
      border-radius: 50px;
      right: 12px;
      top: 18px;
}

.message {
      padding: 1rem;
      border-radius: 20px;
      width: fit-content;
      max-width: 50%;
      align-self: flex-end;
      border-bottom-right-radius: 0;
      background-color: var(--left-msg-bg);
}

.message:nth-child(odd) {
      align-self: flex-start;
      background: var(--right-msg-bg);
      border-radius: 20px;
      color: var(--chat-text-color);
      border-bottom-left-radius: 0;
}

.meta {
      color: var(--dark-color);
      font-size: 0.9rem;
      font-weight: 500;
      margin-bottom: 10px;
}

.meta span {
      opacity: 0.7;
      font-size: 0.7rem;
}

.msger-header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      background: var(--chat-background);
      color: #161c8c;
      font-size: 2.5rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.msger-chat {
      background-color: var(--chat-background);
      font-family: 'Sono', sans-serif;
}
